<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="com.mycompany.Dev" autowire="byType"/>

    <bean id="comp" class="com.mycompany.Laptop" >
    </bean>

    <bean id="comp1" class="com.mycompany.Desktop" primary="true">

    </bean>
</beans>